@import "bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(84, 156, 219);
}

.nav {
  background-color: rgb(242, 239, 234);
  font-family: "Nerko One", cursive;
}

footer {
  min-height: 150px;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
